version: '3.9'

services:
  api:
    build: .
    container_name: youapp_api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
      - rabbitmq
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:6
    container_name: youapp_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: youapp_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mongo_data:
